<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="public/lib/css/index.css">
<title></title>
</head>
<body>
  <h1>{{title}}<h1>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="public/lib/js/index.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
